


body{
	margin: 0;
font-family: 'Lato', sans-serif;
	
}
header{
	color: white;
	/*padding-top: 242px;*/


}

.text{
text-align: justify;
padding: 0px;
color:black;
font-family:serif;
 font-weight: bold;
 font-style: oblique;
}



.navClass > ul {
	background-color: black;
	color: white;
	font-size: 20px;
	padding-bottom: 20px;

}

.navClass >li {
	list-style-type: none;
	display: inline-block;
	text-decoration: none;
	padding: 5px 25px;

	
}
.navClass >ul >li {
	float: center;
	background-color: black;
	color: white;
	padding: 5px 25px;
	list-style-type: none;
	display: inline-block;
	position: relative;
}

.navClass >ul >li:hover{
	
	list-style-type: none;

}
.navClass >ul >li >a {
	text-decoration: none;
	color: white;


}

.homered:hover{
background-color: blue;
padding: 10px 10px 10px 10px;
}

.container{
	width: 100%;
	margin:auto;

}

.row{
	width: 100%;
	clear: both;
	padding: 0px;
	margin: 0px;
}
.hero{
	height: 510px;
	background: url("../HTML/hero.jpg");
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	position: relative; 
   width: 100%;
   margin-bottom: 2%;
}

.hero:hover{
	background: linear-gradient(rgba(134,59,255,0.2),rgba(134,59,255,0.2)),url("../HTML/15.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}



h1 { 
   position: absolute; 
   top: 0px; 
   left: 20px; 
   color: white;
   font-family: 'Lato', sans-serif;
   font-weight: bold;
 font-style: oblique;
 text-align:justify;
}


h3 { 
   position: absolute; 
   color: black;

}
h4{
	position: top;
	
	list-style-type: none;
	padding-right:105px;
	color: white;
	background-color: green;
	background-size: cover;

}

h5{
	
	
	
	padding-right:105px;
	color: white;
	background-color: grey;
	background-size: cover;
	margin-bottom: -2px;
}




.list >li {
	list-style-type: none;
	display: inline-block;
	text-decoration: none;
	padding: 5px 25px;
}

 .list >li >a {
	list-style-type: none;
	display: inline-block;
	text-decoration: none;
	padding: 5px 25px;
	
}


.img{
	padding-left: 200px;
}

.container_12 .a{
  height: 330px;
  background: url("../HTML/10.jpg");
  background-repeat: no-repeat;
  background-position: center;
  }

  .container_12 .b{
  	height: 331px;
  	margin-left: 20px;
  	margin-right: 20px;
	background: url("../HTML/14.jpg");
	background-repeat: no-repeat;
	background-position: center;
	background-size: 302px;
  }
.container_12 .c{
  height: 329px;
  background: url("../HTML/9.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 272px;
}

.container_12 .d{
	height: 333px;
	background: url("../HTML/8.jpg");
	background-repeat: no-repeat;
	background-position: center;
	background-size: 327px;
}

.container_12 .e{
	height: 332px;
	margin-left: 20px;
  	margin-right: 20px;
	background: url("../HTML/13.jpg");
	background-repeat: no-repeat;
	background-position: center;
	background-size: 369px;
}

.container_12 .f{
	height: 331px;
	background: url("../HTML/16.jpg");
	background-repeat: no-repeat;
	background-position: center;
	background-size: 302px;
}
.container_12 .g{
	height: 331px;
	background: url("../HTML/17.jpeg");
	background-repeat: no-repeat;
	background-position: center;
	background-size: 540px;
}
.container_12 .h{
	list-style-type: none;
	display: inline-block;
	text-decoration: none;
	padding: 0px;
}

.container_12 .j{
	height: 331px;
	background: url("../HTML/second.jpg");
	background-repeat: no-repeat;
	background-position: center;
	background-size: 540px;
}
.container_12 .k{
	list-style-type: none;
	display: inline-block;
	text-decoration: none;
	padding: 0px;
}
#sp{
	margin-left: 250px;
}

.hq{
	color: white;
}

.Neymar{
	list-style-type: none;
	display: inline-block;
	text-decoration: none;
	padding: 0px;
	color: white;
	text-align: center;
}

.homeblack:hover{
background-color: #a9a2a2;
padding: 10px 10px 10px 10px;
}


.footer { float: center; margin-top:115px; height:118px; background-color:black; }
.footer li {float:left; list-style:none; margin-left:5px;}
.footer span { float:left; color:white; }



